<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Names in the option menu -->
    <menu>
        <generalInformations>Informacje</generalInformations>
        <display id="Wyświetl...">
            <pcInfo>Nazwę komputera</pcInfo>
            <ipInfo>IP komputera</ipInfo>
        </display>
		
		<cmd id="Konsola...">
			<policyUpdate>Odśwież polityki</policyUpdate>
			<stopShutdown>Wstrzymaj aktualizację</stopShutdown>
			<ipconfigAll>Pokaż informacje sieciowe</ipconfigAll>
			<ipconfigFlushdns>Wyczyść DNSy</ipconfigFlushdns>
			<ipconfigRenew>Odśwież IP</ipconfigRenew>
			<openCmd>Otwórz konsolę</openCmd>
		</cmd>
		
        <exit>Wyjście</exit>
    </menu>
	
    <!-- Message context  -->
    <message>
        <messageTitle>Twój tytuł</messageTitle>
        <messageUser>Użytkownik</messageUser>
        <messagePCName>Nazwa komputera</messagePCName>
        <messageIPAddress>Adres IP komputera</messageIPAddress>
    </message>
</configuration>